/* default */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, progress,
time, mark, audio, video,
button, input, optgroup, select, textarea{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
}
a{text-decoration: none;}
button{background-color: transparent;}
em,address{font-style:normal}
img,button{
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	line-height: 1;
}
label{cursor: pointer;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display: block;}
body{line-height: 1;}
ol, ul{list-style: none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after{content: ''; content: none;}
table{
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout:fixed;
}
caption {
	display:none;
}
strong {
	font-weight:700;
}
a,
a:hover,
a:visited,
a:active {
	color:inherit;
}

/* Remove the border on images inside links in IE 10. */
img{border-style: none;}

/* Show the overflow in Edge. */
button, input{overflow: visible;}

/* Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"]{-webkit-appearance: button;}

/* Remove the inner border and padding in Firefox */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{
	border-style: none;
	padding: 0;
}
/* Remove the inner border and padding in iOS and Safari */

/* Remove the default vertical scrollbar in IE 10+ */
textarea{overflow: auto;}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/*
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/

[type="checkbox"], [type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}