@charset "utf-8";

/*************************************************************
		Better sleep Pt.2 [EN]
**************************************************************/
/* .pub__page-container{max-width:100%;padding:0;}
.pub__page-container__main{grid-column:1/14;}
.pub__page-container__main > div > article > section:not(:first-child){max-width:1500px;margin:auto;}

.pub__breadcrumb{max-width:112rem;margin:auto;padding:0 2.5rem 0 7.75rem;border-bottom:0;}
.pub__breadcrumb__nav{border-bottom:1px solid #dfdfdf;} */

h1{display:none;}
#betterSleep2{width:100%;padding-bottom:4rem;letter-spacing:-0.25px;overflow-x:hidden;}
#betterSleep2 a{display:block;color:#333;text-decoration:none;}
#betterSleep2 p,
#betterSleep2 h1,
#betterSleep2 h2,
#betterSleep2 h3,
#betterSleep2 h4{margin:0;}
#betterSleep2 ul, #betterSleep2 ol{margin:0;padding:0;}
#betterSleep2 li{list-style:none;padding:0;margin:0;}
#betterSleep2 em{font-style:normal;}
#betterSleep2 main{padding:0;}
#betterSleep2 img{width:100%;vertical-align:top;}
#betterSleep2 button:focus {outline:0;}
#betterSleep2 *:focus {outline:0;}
#betterSleep2 .img{display:block;}
#betterSleep2 .wrapper{overflow:hidden;}
#betterSleep2 h1{display:block;font-size:2.25rem;}
#betterSleep2 .tit1{font-size:3.375rem;line-height:4rem;}
#betterSleep2 .tit2{display:block;font-size:1.375rem;line-height:1.75rem;}
#betterSleep2 .tit3{display:block;font-size:1rem;}
#betterSleep2 .s1vteuqm{-webkit-box-lines: single; -ms-flex-wrap: nowrap; flex-wrap: nowrap;}

#betterSleep2 .btn{display:inline-block;}
#betterSleep2 .btn a{display:block;position:relative;transition:all ease 0.1s;}
#betterSleep2 .btn.ty1{display:inline-block;}
#betterSleep2 .btn.ty1 button{height:60px;padding:0 6.688rem 0 1.375rem;background-color:#222;border:0;transition:all ease 0.1s;}
#betterSleep2 .btn.ty1.disabled button{background-color:#bbb;cursor:default;}
#betterSleep2 .btn.ty1 a{height:60px;padding:0 6.688rem 0 1.375rem;background-color:#222;}
#betterSleep2 .btn.ty1 .bTit{display:block;font-weight:700;font-size:1.375rem;line-height:60px;color:#fff;}
#betterSleep2 .btn.ty1 .arrow{display:inline-block;position:absolute;top:50%;right:1.5rem;width:20px;height:19px;background:url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/ico_btn_arrow_next.png') no-repeat;background-size:100% 100%;transform:translateY(-50%);transition:all ease 0.3s;}
#betterSleep2 .btn.seeResult .arrow{display:inline-block;position:absolute;top:50%;right:1.5rem;width:20px;height:19px;background:url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/ico_check.png') no-repeat;background-size:100% 100%;transform:translateY(-50%);transition:all ease 0.3s;}
#betterSleep2 .btn.ty1 a:hover .arrow{right:1rem;}
#betterSleep2 .btn.ty1 button:hover .arrow{right:1rem;}
#betterSleep2 .btn.seeResult button:hover .arrow{right:1.5rem;}
#betterSleep2 .btn.ty1.disabled button .arrow{right:1.5rem;}
#betterSleep2 .btn.ty1.last button .arrow{right:1.5rem;}
#betterSleep2 .btn.seeResult button{background-color:#774B40;padding:0 4rem 0 1.375rem;}
#betterSleep2 .btn.seeResult.disabled button .arrow{background:url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/ico_check.png') no-repeat;background-size:100% 100%;}
#betterSleep2 .btn.ty2{display:inline-block;}
#betterSleep2 .btn.ty2 a{height:60px;padding:0 1.375rem 0 2.5rem;}
#betterSleep2 .btn.ty2 .bTit{display:block;font-weight:700;font-size:1.375rem;line-height:60px;color:#222;}
#betterSleep2 .btn.ty2 .arrow{display:inline-block;position:absolute;top:50%;left:0.5rem;width:20px;height:19px;background:url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/ico_btn_arrow_back.png') no-repeat;background-size:100% 100%;transform:translateY(-50%);transition:all ease 0.3s;}
#betterSleep2 .btn.ty2 a:hover .arrow{left:0;}
#betterSleep2 .iBtn{display:inline-block;position:absolute;right:-25px;top:9px;width:20px;height:20px;padding:5px;background:url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/ico_info_btn.png') no-repeat;background-size:100% 100%;cursor:pointer;text-indent:-9999px;}
#betterSleep2 .btn.last{display:inline-block;}
#betterSleep2 .btn.last a{height:60px;padding:0 1.375rem;background-color:#222;}
#betterSleep2 .btn.last .bTit{display:block;font-weight:700;font-size:1.375rem;line-height:60px;color:#fff;}

#betterSleep2 .btn.more{display:block;margin-top:5rem;text-align:center;border-top:1px solid #222;}
#betterSleep2 .btn.more a{width:300px;margin:auto;text-align:center;}
#betterSleep2 .btn.more .ico{display:block;position:absolute;top:-15px;left:50%;width:30px;height:30px;margin-left:-15px;background:#fff url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/ico_arrow_more_open.png') no-repeat;background-size:100% 100%;}
#betterSleep2 .btn.more .ico.close{background:#fff url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/ico_arrow_more_close.png') no-repeat;background-size:100% 100%;}
#betterSleep2 .btn.more .mTxt{display:block;padding-top:1.25rem;font-size:0.75rem;}
#betterSleep2 .ico.link{display:inline-block;width:30px;height:30px;margin-right:0.5rem;background:url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/ico_arrow_link.png') no-repeat;background-size:contain;vertical-align:bottom;}

/* top Contents */
#betterSleep2 .topCont{margin-top:2rem;}
#betterSleep2 .topCont .visSection{position:relative;}
#betterSleep2 .topCont .visSection .imgBox img{display:block;width:100%;}
#betterSleep2 .topCont .visSection .imgBox .mo{display:none;}
#betterSleep2 .topCont .visSection .txtBox{position:absolute;bottom:-90px;;left:50%;width:85%;transform:translateX(-50%);padding:60px;color:#fff;font-size:22px;font-weight:700;background-color:#b07b6e;}
#betterSleep2 .topCont .SleepingPosture{width:100%;max-width:1500px;margin:12rem auto 0;}
#betterSleep2 .topCont .SleepingPosture .txtArea{width:48%;}
#betterSleep2 .topCont .SleepingPosture .txtArea .txt{margin-top:0.75rem;}
#betterSleep2 .topCont .SleepingPosture .listCont{margin-top:5rem}
#betterSleep2 .topCont .SleepingPosture .listCont > ul{overflow:hidden;width:100%;}
#betterSleep2 .topCont .SleepingPosture .listCont > ul > li{float:left;width:31%;margin-left:3.5%}
#betterSleep2 .topCont .SleepingPosture .listCont > ul > li:first-child{margin-left:0}
#betterSleep2 .topCont .SleepingPosture .listCont > ul > li a{display:block;}
#betterSleep2 .topCont .SleepingPosture .listCont > ul > li a span, #betterSleep2 .topCont .SleepingPosture .listCont > ul > li a strong{display:block;}
#betterSleep2 .topCont .SleepingPosture .listCont > ul > li .imgBox img{display:block;width:100%;}
#betterSleep2 .topCont .SleepingPosture .listCont .top{cursor:pointer;}
#betterSleep2 .topCont .SleepingPosture .listCont .top:hover .txtBox{background-color:#f9f7f5}
#betterSleep2 .topCont .SleepingPosture .listCont .top .txtBox{padding:2rem 1rem;background-color:#f8f6f2;}
#betterSleep2 .topCont .tipsBox{max-width:1500px;margin:12rem auto 0;}
#betterSleep2 .topCont .tip{position:relative;width:50%;margin:0 auto;padding:3rem;border:10px solid #F4F4F4;text-align:center;}
#betterSleep2 .topCont .tip::before{content:'';position:absolute;top:-30px;left:-30px;;width:60px;height:60px;background:#fff url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/icon_tip_lefttop_mo.png') no-repeat;background-size:100% 100%;}
#betterSleep2 .topCont .tip::after{content:'';position:absolute;bottom:-30px;right:-30px;;width:60px;height:60px;background:#fff url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/icon_tip_rightbottom_mo.png') no-repeat;background-size:100% 100%;}
#betterSleep2 .topCont .tip .txt{margin-top:1rem;}
#betterSleep2 .topCont .SleepingPosture .listCont .bottom{display:none;padding:2rem 1rem 1rem;}
#betterSleep2 .topCont .SleepingPosture .listCont .bottom .ico{display:inline-block;width:50px;height:50px;vertical-align:bottom;}
#betterSleep2 .topCont .SleepingPosture .listCont .bottom .iTit{display:inline-block;margin-left:1rem;font-size:1rem;line-height:50px;}
#betterSleep2 .topCont .SleepingPosture .listCont .bottom .txtBox{margin-top:1rem;padding-top:0.5rem;border-top:1px solid #E2E2E2;}
.#betterSleep2 .topCont .SleepingPosture .listCont .bottom .txt{color:#484848;}
#betterSleep2 .topCont .SleepingPosture .listCont .bottom li + li{margin-top:2rem;}

/*Tab*/
#betterSleep2 .tabContArea{margin-top:12rem;}
#betterSleep2 .tabCont{}
#betterSleep2 .tabCont ul{display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
#betterSleep2 .tabCont li{width:calc(100% / 3 - 18px);}
#betterSleep2 .tabCont li a{display:block;height:80px;background-color:#b07b6e;text-align:center;transition:all ease 0.3s;}
#betterSleep2 .tabCont li.on a{display:block;background-color:#774b40;}
#betterSleep2 .tabCont strong{display:block;font-size:1.375rem;color:#fff;line-height:80px;}

#betterSleep2 .contents{margin:5rem 0;}

/*Choice Generator*/
#betterSleep2 .genCont{display:none;}
#betterSleep2 .genCont .cardArea{position:relative;}
#betterSleep2 .genCont .tit2{max-width:1500px;margin:0 auto 2rem;}
#betterSleep2 .genCont .intro{height:915px;}
#betterSleep2 .genCont.mattress .intro{background-color:#f8f6f2;}
#betterSleep2 .genCont.pillow .intro{background-color:#f2f5f8;}
#betterSleep2 .genCont.duvet .intro{background-color:#f2f4f2;}
#betterSleep2 .genCont .inner{max-width:1500px;height:100%;margin:0 auto;}
#betterSleep2 .genCont.on{display:block;}
#betterSleep2 .genCont .intro .wrapper{display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;-webkit-box-align: center; -ms-flex-align: center; align-items: center;height:100%;}
#betterSleep2 .genCont .intro .imgBox{width:40%;padding:3% 0 0 5%;}
#betterSleep2 .genCont.mattress .intro .imgBox .img{box-shadow:40px -40px 0 0 rgba(176,123,110,1);}
#betterSleep2 .genCont.pillow .intro .imgBox .img{box-shadow:40px -40px 0 0 rgba(103,101,123,1);}
#betterSleep2 .genCont.duvet .intro .imgBox .img{box-shadow:40px -40px 0 0 rgba(137,153,168,1);}
#betterSleep2 .genCont .intro .txtBox{width:60%;padding:0 6% 0 10%;}
#betterSleep2 .genCont .intro .txtBox .txt{margin-top:1rem;font-size:1.375rem;}
#betterSleep2 .genCont .intro .btnBox{margin-top:4rem;}
/*STEP*/
#betterSleep2 .stepCont{display:none;position:absolute;top:0;left:0;width:100%;background-color:#F6F6F6;}
#betterSleep2 .stepCont.step1{z-index:10;}
#betterSleep2 .stepCont.step2{z-index:11;}
#betterSleep2 .stepCont.step3{z-index:12;}
#betterSleep2 .stepCont.step4{z-index:13;}
#betterSleep2 .stepList{position:absolute;left:0;top:0;width:100%;height:915px;background-color:#F6F6F6;}
#betterSleep2 .stepCont .stepList .wrapper{position:relative;max-width:1500px;height:100%;margin:0 auto;padding:6rem 4rem 4rem 8rem;}
#betterSleep2 .stepCont .card{}
#betterSleep2 .stepCont .progBox{position:absolute;top:6rem;left:1rem;}
#betterSleep2 .stepCont .progBox li{position:relative;}
#betterSleep2 .stepCont .progBox li + li{padding-top:30px;}
#betterSleep2 .stepCont .progBox li::before{content:'';position:absolute;top:0;left:13px;width:2px;height:30px;background-color:#B2B2B2;}
#betterSleep2 .stepCont .progBox li:first-child::before{display:none;}
#betterSleep2 .stepCont .progBox li .num{display:block;width:30px;height:30px;border-radius:20px;background-color:#707070;font-weight:700;font-size:1.25rem;text-align:center;color:#fff;line-height:30px;}
#betterSleep2 .stepCont .progBox li.on .num{background-color:#222;}
#betterSleep2 .stepCont .progBox li .compCheck{display:block;width:90px;height:90px;}
#betterSleep2 .stepCont .titBox .sTit{display:block;font-size:1.375rem;color:#B2B2B2;}
#betterSleep2 .stepCont .titBox .tit{display:block;font-size:2.25rem;}
#betterSleep2 .stepCont .selectBox{margin-top:3rem;}
#betterSleep2 .stepCont .selectBox ul{display: -webkit-box; display: -ms-flexbox; display: flex;webkit-justify-content: space-around; justify-content: space-around;-webkit-box-lines: multiple; -ms-flex-wrap: wrap; flex-wrap: wrap;}
#betterSleep2 .stepCont .selectBox li{text-align:center;}
#betterSleep2 .stepCont .selectBox li.deactive a{cursor:default;}
#betterSleep2 .stepCont .selectBox li .dis{display:none;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:103%;height:103%;}
#betterSleep2 .stepCont .selectBox li .dis2{display:none;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:103%;height:103%;}
#betterSleep2 .stepCont .selectBox li.deactive .tit{color:#D3D3D3;}
#betterSleep2 .stepCont .selectBox.col2 li{width:250px;}
#betterSleep2 .stepCont .selectBox.col3 li{width:250px;}
#betterSleep2 .stepCont .selectBox.col4 li{width:200px;}
#betterSleep2 .stepCont .selectBox.col5 li{width:150px;}
#betterSleep2 .stepCont .selectBox a{position:relative;}
#betterSleep2 .stepCont .selectBox .selected{display:none;position:absolute;top:0;left:0;}
#betterSleep2 .stepCont .selectBox .selected.on{display:block;}
#betterSleep2 .stepCont .selectBox .tit{display:inline-block;position:relative;margin-top:1.25rem;font-size:1.375rem;}
#betterSleep2 .stepCont .stepList .btnBox{position:absolute;left:8rem;bottom:4rem;width:calc(100% - 12rem);padding-top:3.5rem;border-top:1px solid #B2B2B2;}
#betterSleep2 .stepCont .btnBox .inner{display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
#betterSleep2 .stepCont .btnBox .inner.end{-webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end;}
/*Product List*/
#betterSleep2 .stepCont .prodList{overflow:hidden;}
#betterSleep2 .range-revamp-product-compact{max-width:270px;}
/* Loading Spinner */
#betterSleep2 .fadeout{-moz-animation: fadeout 2s linear;-webkit-animation: fadeout 2s linear;animation-fill-mode: forwards;}
#betterSleep2 .loading{display:none;position:absolute;top:0;left:0;width:100%;height:100%;z-index:20;background-color:rgba(255,255,255,0.8);}
#betterSleep2 .loading .inner{height:100%;}
#betterSleep2 .loading .spinnerWrapper{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
#betterSleep2 .loading .spinnerOuter, #betterSleep2 .loading .spinnerMiddle{position: relative;margin: 0 auto;border-radius:50px;border: 5px solid #774b40;border-top:5px solid transparent;border-left:5px solid transparent;background-color: transparent; opacity: .9;}
#betterSleep2 .loading .spinnerOuter{width: 50px;height: 50px;-moz-animation: spin 3s infinite linear;-webkit-animation: spin 3s infinite linear;}
#betterSleep2 .loading .spinnerMiddle{width: 30px;height: 30px;top: -40px;-moz-animation: spinoff 2.5s infinite linear;-webkit-animation: spinoff 2.5s infinite linear;border-color:#b07b6e;border-top: 5px solid transparent;border-left: 5px solid transparent;}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);};
}

@-moz-keyframes spinoff {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(-360deg);};
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);};
}

@-webkit-keyframes spinoff {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-360deg);};
}

@-moz-keyframes fadeout {
	0% {opacity:1;}
	80% {opacity:1;}
	100% {opacity:0;visibility:hidden;};
}

@-webkit-keyframes fadeout {
	0% {opacity:1;}
	80% {opacity:1;}
	100% {opacity:0;visibility:hidden;};
}

/*INFO*/
#betterSleep2 .infoArea{max-width:1500px;margin:6.25rem auto 0;}
#betterSleep2 .infoCont{display:none;}
#betterSleep2 .infoCont.on{display:block;}
#betterSleep2 .infoCont .infoList + .infoList{margin-top:5.625rem;}
#betterSleep2 .infoCont .infoList .inner{display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-lines: multiple; -ms-flex-wrap: wrap; flex-wrap: wrap;}
#betterSleep2 .infoCont .inner + .inner{margin-top:3.75rem;}
#betterSleep2 .infoCont .cont{width:48%;}
#betterSleep2 .infoCont .inner .cont + .cont{padding-left:3rem;}
#betterSleep2 .infoCont .cont .txtBox + .txtBox{margin-top:1.5rem;}
#betterSleep2 .infoCont .cont .txtBox .txt{margin-top:0.75rem;}
#betterSleep2 .infoCont .txtBox .txt + .txt{margin-top:1rem;}
#betterSleep2 .infoCont .cont .txtBox > .ico{display:inline-block;width:120px;height:120px;}
#betterSleep2 .infoCont .tit3 + .txt{margin-top:0.25rem;}
#betterSleep2 .infoCont .hidden{margin-top:4rem;}
#betterSleep2 .infoCont .inner + .tip{max-width:60%;margin-top:3rem;}
#betterSleep2 .infoCont .tip{position:relative;width:95%;margin:0 auto;padding:3rem;border:10px solid #F4F4F4;text-align:center;}
#betterSleep2 .infoCont .tip::before{content:'';position:absolute;top:-30px;left:-30px;;width:60px;height:60px;background:#fff url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/icon_tip_lefttop_mo.png') no-repeat;background-size:100% 100%;}
#betterSleep2 .infoCont .tip::after{content:'';position:absolute;bottom:-30px;right:-30px;;width:60px;height:60px;background:#fff url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/icon_tip_rightbottom_mo.png') no-repeat;background-size:100% 100%;}
#betterSleep2 .infoCont .tip .txt{margin-top:1rem;}
#betterSleep2 .listBox ul li{position:relative;padding-left:1rem;}
#betterSleep2 .listBox ul li::before{content:'';position:absolute;left:0;top:7px;width:6px;height:6px;border-radius:3px;background-color:#222;}
#betterSleep2 .listBox ul li + li{margin-top:0.5rem;}
#betterSleep2 .listBox ol li + li{margin-top:1rem;}
#betterSleep2 .hidden{display:none;}
#betterSleep2 .hidden .note{margin-top:2rem;}

/*Banner slide*/
#betterSleep2 .bSlide{margin-top:4rem;margin-bottom:0;}
#betterSleep2 .bSlide .imgBox{width:40%;}
#betterSleep2 .bSlide .txtBox{width:60%;padding:4rem;background-color:#B07B6E;}
#betterSleep2 .bSlide .txtBox .tit{display:block;font-size:2.25rem;color:#fff;}
#betterSleep2 .bSlide .txtBox .txt{display:block;margin-top:1rem;font-size:1rem;color:#fff;}
#betterSleep2 .bSlide .slick-dots{display:none !important;width:60%;bottom:20%;right:0;padding-left:4rem;text-align:left;}
#betterSleep2 .bSlide .slick-dots li{width:75px;}
#betterSleep2 .bSlide .slick-dots li button{width:70px;}
#betterSleep2 .bSlide .slick-dots li button::before{width:60px;height:5px;padding:0;background-color:#fff;font-size:0;}
#betterSleep2 .bSlide .slick-dots li.slick-active button:before{opacity:1;}
#betterSleep2 .bSlide .slick-prev{position:absolute;top:50%;left:1rem;transform:translateY(-50%);z-index:99;width:45px;height:45px;color:#111;}
#betterSleep2 .bSlide .slick-next{position:absolute;top:50%;right:1rem;transform:translateY(-50%);z-index:99;width:45px;height:45px;color:#111;}
#betterSleep2 .bSlide .slick-prev::before{content:'';display:inline-block;position:absolute;left:0;top:0;width:45px;height:45px;background:url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/ico_arrow_prev.png') no-repeat;background-size:100% 100%;color:#111;}
#betterSleep2 .bSlide .slick-next::before{content:'';display:inline-block;position:absolute;left:0;top:0;width:45px;height:45px;background:url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/ico_arrow_next.png') no-repeat;background-size:100% 100%;color:#111;}
#betterSleep2 .slick-arrow{text-indent:-9999px;}

/*Mattress slide*/
#betterSleep2 .mSlide + .mSlide{margin-top:2rem;}
#betterSleep2 .mSlide .slick-prev{position:absolute;top:50%;left:0;transform:translateY(-50%);z-index:99;width:45px;height:45px;color:#111;}
#betterSleep2 .mSlide .slick-next{position:absolute;top:50%;right:0;transform:translateY(-50%);z-index:99;width:45px;height:45px;color:#111;}
#betterSleep2 .mSlide .slick-prev::before{content:'';display:inline-block;position:absolute;left:0;top:0;width:45px;height:45px;background:url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/ico_arrow_prev.png') no-repeat;background-size:100% 100%;color:#111;}
#betterSleep2 .mSlide .slick-next::before{content:'';display:inline-block;position:absolute;left:0;top:0;width:45px;height:45px;background:url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/ico_arrow_next.png') no-repeat;background-size:100% 100%;color:#111;}
#betterSleep2 .slick-arrow{text-indent:-9999px;}

/*Product list BTN*/
#betterSleep2 .listBtn{margin:0 -0.5rem;}
#betterSleep2 .bSlide + .listBtn{margin-top:3.75rem;}
#betterSleep2 .tit2 + .listBtn{margin-top:1.875rem;}
#betterSleep2 .listBtn .btnBox{width:33.3%;padding:0.5rem;}
#betterSleep2 .listBtn .btnBox a{display:block;padding:1.5rem;background-color:#F8F6F2;}
#betterSleep2 .listBtn .btnBox .wrapper{display:table;table-layout:fixed;}
#betterSleep2 .listBtn .tit2{font-size:1.125rem;}
#betterSleep2 .listBtn .btnBox .imgBox{display:table-cell;vertical-align:middle;width:120px;}
#betterSleep2 .listBtn .btnBox .txtBox{display:table-cell;vertical-align:middle;width:calc(100% - 120px);padding-left:1.5rem;}
#betterSleep2 .pTxt{font-weight:700;margin-top:1.5rem;font-size:0.75rem;line-height:30px;}

/*Table*/
#betterSleep2 .tableBox{margin-top:1.875rem;}
#betterSleep2 .tableBox.pc{display:block;}
#betterSleep2 .tableBox.mo{display:none;}
#betterSleep2 .tableBox > div{width:100%;overflow-y:hidden;overflow-x:auto;-webkit-overflow-scrolling:touch;margin:0;}
#betterSleep2 .tableBox table{width:100%;text-align:center;border-spacing:0;table-layout:fixed;}
#betterSleep2 .tableBox table .tit2{font-size:1rem;}
#betterSleep2 .tableBox thead tr > th{padding:1rem 0;background-color:#E6E5E1;border-left:6px solid #fff;border-bottom:6px solid #fff;vertical-align:middle;text-align:center;}
#betterSleep2 .tableBox thead tr > th:first-child{border-left:0;}
#betterSleep2 .tableBox thead .bei{background-color:#F8F6F2;}
#betterSleep2 .tableBox tbody tr > th{background-color:#F8F6F2;border-bottom:6px solid #fff;text-align:center;vertical-align:middle;}
#betterSleep2 .tableBox td{padding:0.25rem 1rem 1.5rem;}
#betterSleep2 .tableBox td .img{max-width:200px;margin:0 auto;}
#betterSleep2 .tableBox td .pTxt{font-weight:700;margin-top:-1.5rem;}

/*POPUP*/
#betterSleep2 .popup{display:none;position:fixed;top:0;left:0;z-index:999;width:100%;height:100%;}
#betterSleep2 .popup .dimmed{height:100%;background-color:rgba(0,0,0,0.5);}
#betterSleep2 .popup .inner{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:70%;max-width:600px;padding:1.75rem;background-color:#fff;border-radius:15px;}
#betterSleep2 .popup.ty1 .tit{display:block;font-size:1rem;}
#betterSleep2 .popup.ty1 .txtBox{margin-top:1.25rem;padding-top:1.25rem;border-top:1px solid #333;}
#betterSleep2 .popup.ty1 .txt{font-size:0.875rem;color:#484848;}
#betterSleep2 .popup .closeBtn{display:inline-block;position:absolute;top:1.5rem;right:1.5rem;}
#betterSleep2 .popup .closeBtn a{width:30px;height:30px;background:url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/ico_close.png') center center no-repeat;background-size:18px 18px;text-indent:-9999px;}

/* 모바일 */
@media (max-width: 767px){
	/* .pub__breadcrumb{padding:0 1.875rem;}
	.pub__page-container__main > div > article > section:not(:first-child){padding:0 1rem;} */

	#betterSleep2 h1{font-size:1.5rem;}
	#betterSleep2 .tit1{font-size:1.5rem;line-height:2rem;}
	#betterSleep2 .tit2{font-size:1.125rem;line-height:1.5rem;}
	#betterSleep2 .tit3{font-size:0.875rem;}

	#betterSleep2 .btn.ty1 a{height:2rem;padding:0 3.5rem 0 0.625rem;}
	#betterSleep2 .btn.ty1 button{height:2rem;padding:0 3.5rem 0 0.625rem;}
	#betterSleep2 .btn.seeResult button{height:2rem;padding:0 2.5rem 0 0.625rem;}
	#betterSleep2 .btn.seeResult.disabled button{height:2rem;padding:0 2.5rem 0 0.625rem;}
	#betterSleep2 .btn.ty1.disabled button{height:2rem;padding:0 3.5rem 0 0.625rem;}
	#betterSleep2 .btn.seeResult.disabled button{height:2rem;padding:0 2.5rem 0 0.625rem;}
	#betterSleep2 .btn.ty1 .bTit{font-size:0.875rem;line-height:2rem;}
	#betterSleep2 .btn.ty1 .arrow{right:0.75rem;}
	#betterSleep2 .btn.ty1 a:hover .arrow{right:0.75rem;}
	#betterSleep2 .btn.ty1.disabled button .arrow{right:0.75rem;}
	#betterSleep2 .btn.ty1.last button .arrow{right:0.75rem;}
	#betterSleep2 .btn.ty2 a{height:2rem;padding:0 1.375rem 0 1.5rem;}
	#betterSleep2 .btn.ty2 .bTit{font-size:0.875rem;line-height:2rem;}
	#betterSleep2 .btn.ty2 .arrow{left:0;}
	#betterSleep2 .btn.more{margin-top:3rem;text-align:center;border-top:1px solid #222;}
	#betterSleep2 .btn.more a{width:101%;margin:auto;text-align:center;}
	#betterSleep2 .btn.more .ico{display:block;position:absolute;top:-10px;left:50%;width:20px;height:20px;margin-left:-10px;background-size:100% 100%;}
	#betterSleep2 .btn.more .mTxt{display:block;padding-top:1rem;font-size:0.75rem;}
	#betterSleep2 .iBtn{width:15px;height:15px;top:1px;right:-18px;}
	#betterSleep2 .btn.last a{height:2rem;padding:0 0.625rem;}
	#betterSleep2 .btn.last .bTit{font-size:0.875rem;line-height:2rem;}

	/* top Contents */
	#betterSleep2 .topCont .visSection .imgBox .pc{display:none;}
	#betterSleep2 .topCont .visSection .imgBox .mo{display:block;}
	#betterSleep2 .topCont .visSection .imgBox{background:url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/img_kv_02_mo.jpg') no-repeat;background-size:100% 100%;}
	#betterSleep2 .topCont .visSection .txtBox{width:90%;min-height:400px;height:60%;padding:2.5rem;bottom:3%;font-size:1rem;}
	#betterSleep2 .topCont .SleepingPosture{width:100%;margin-top:2rem;padding:0;}
	#betterSleep2 .topCont .SleepingPosture .txtArea{width:100%;}
	#betterSleep2 .topCont .SleepingPosture .listCont{margin-top:2rem;}
	#betterSleep2 .topCont .SleepingPosture .listCont ul li{float:none;width:100%;margin-left:0;margin-top:1rem;}
	#betterSleep2 .topCont .visSection .txtBox{padding:1rem 2rem;font-size:1rem;}
	#betterSleep2 .topCont .SleepingPosture .listCont .top .txtBox{padding:1rem;}
	#betterSleep2 .topCont .SleepingPosture .listCont .top .txt{font-size:0.875rem;}
	#betterSleep2 .topCont .SleepingPosture .listCont .bottom .txt{font-size:0.875rem;}
	#betterSleep2 .topCont .SleepingPosture .listCont .top:hover .txtBox{background-color:#f8f6f2}


	/*TAB*/
	#betterSleep2 .tabContArea{margin-top:4rem;}
	#betterSleep2 .tabCont{;}
	#betterSleep2 .tabCont li{width:calc(100% / 3 - 8px)}
	#betterSleep2 .tabCont li a{height:40px;}
	#betterSleep2 .tabCont strong{font-size:0.875rem;line-height:40px;}

	#betterSleep2 .contents{margin:2rem 0;}

	/*Choice Generator*/
	#betterSleep2 .genCont .tit2{margin-bottom:1rem;;}
	#betterSleep2 .genCont .tit2{margin:0 auto 1rem;}
	#betterSleep2 .genCont .intro{height:710px;padding:3rem 2rem 5%;}
	#betterSleep2 .genCont .intro .wrapper{display:block;max-width:345px;margin:0 auto;}
	#betterSleep2 .genCont .intro .imgBox{width:100%;padding:20px 20px 0 0;}
	#betterSleep2 .genCont.mattress .intro .imgBox .img{box-shadow:20px -20px 0 0 rgba(176,123,110,1);}
	#betterSleep2 .genCont.pillow .intro .imgBox .img{box-shadow:20px -20px 0 0 rgba(103,101,123,1);}
	#betterSleep2 .genCont.duvet .intro .imgBox .img{box-shadow:20px -20px 0 0 rgba(137,153,168,1);}
	#betterSleep2 .genCont .intro .txtBox{width:100%;margin-top:1rem;padding:0;}
	#betterSleep2 .genCont .intro .txtBox .txt{margin-top:1rem;font-weight:700;font-size:1rem;color:#484848;}
	#betterSleep2 .genCont .intro .btnBox{margin-top:1rem;}
	#betterSleep2 .stepList{height:710px;}
	#betterSleep2 .stepCont .stepList .wrapper{padding:3rem 2rem 3rem 3.5rem;}
	#betterSleep2 .stepCont .progBox{top:3.125rem;}
	#betterSleep2 .stepCont .progBox li + li{padding-top:20px;}
	#betterSleep2 .stepCont .progBox li::before{left:9px;width:1px;height:20px;}
	#betterSleep2 .stepCont .progBox li .num{width:20px;height:20px;border-radius:10px;font-size:0.875rem;line-height:19px;}
	#betterSleep2 .stepCont .progBox li .compCheck{width:28px;height:28px;}
	#betterSleep2 .stepCont .titBox .sTit{font-size:1rem;}
	#betterSleep2 .stepCont .titBox .tit{font-size:1.25rem;line-height:1.75rem;}
	#betterSleep2 .stepCont .selectBox{margin-top:1.5rem;}
	#betterSleep2 .stepCont .selectBox.col2 li{width:46%;}
	#betterSleep2 .stepCont .selectBox.col3 li{width:46%;max-width:140px;margin-bottom:1rem;}
	#betterSleep2 .stepCont .selectBox.col4 li{width:47%;max-width:140px;margin-bottom:1rem;}
	#betterSleep2 .stepCont .selectBox.col5 li{width:30%;max-width:140px;margin-bottom:1rem;}
	#betterSleep2 .stepCont .selectBox .tit{margin-top:0.5rem;font-size:0.875rem;line-height:1rem;}
	#betterSleep2 .stepCont .stepList .btnBox{left:3.5rem;bottom:3rem;width:calc(100% - 5.5rem);padding-top:2rem;}
	#betterSleep2 .stepCont .prodList > div{width:100%;overflow-y:hidden;overflow-x:auto;-webkit-overflow-scrolling:touch;margin:0;}
	#betterSleep2 .range-revamp-product-compact{width:146px;max-width:146px;flex: 0 0 146px;}

	#betterSleep2 .infoArea{margin-top:2.5rem;padding:0;}
	#betterSleep2 .infoCont .cont{width:100%;}
	#betterSleep2 .infoCont .inner .cont + .cont{padding-left:0;}
	#betterSleep2 .infoCont .inner + .inner{margin-top:2rem;}
	#betterSleep2 .infoCont .txt{font-size:0.875rem;}
	#betterSleep2 .infoCont .tip{margin-top:3rem;padding:2rem;border:4px solid #F4F4F4;}
	#betterSleep2 .infoCont .inner + .tip{max-width:100%;margin-top:3rem;}
	#betterSleep2 .infoCont .tip .txt{font-size:0.875rem;}
	#betterSleep2 .infoCont .tip::before{top:-20px;left:-20px;width:50px;height:50px;}
	#betterSleep2 .infoCont .tip::after{bottom:-20px;right:-20px;width:50px;height:50px;}
	#betterSleep2 .infoCont .hidden{margin-top:3rem;}
	#betterSleep2 .hidden .note{font-size:0.875rem;}
	#betterSleep2 .infoCont .cont .txtBox > .ico{width:100px;height:100px;}
	#betterSleep2 .listBox ul li{padding-left:0.75rem;font-size:0.875rem;}
	#betterSleep2 .listBox ul li::before{width:4px;height:4px;top:8px;}

	#betterSleep2 .bSlide{margin-top:2rem;}
	#betterSleep2 .bSlide .imgBox{width:100%;}
	#betterSleep2 .bSlide .txtBox{width:100%;height:350px;padding:1.25rem 1.5rem 3rem;}
	#betterSleep2 .bSlide .txtBox .tit{font-size:1.125rem;}
	#betterSleep2 .bSlide .txtBox .txt{margin-top:1rem;font-size:0.875rem;line-height:1.25rem;}
	#betterSleep2 .bSlide .slick-dots{width:100%;bottom:1rem;padding:0 1.25rem;}
	#betterSleep2 .bSlide .slick-dots li{width:50px;}
	#betterSleep2 .bSlide .slick-dots li button{width:40px;}
	#betterSleep2 .bSlide .slick-dots li button::before{width:40px;height:3px;}
	#betterSleep2 .bSlide .slick-prev{width:30px;height:30px;left:0.5rem;}
	#betterSleep2 .bSlide .slick-next{width:30px;height:30px;right:0.5rem;}
	#betterSleep2 .bSlide .slick-prev::before{width:30px;height:30px;}
	#betterSleep2 .bSlide .slick-next::before{width:30px;height:30px;}
	#betterSleep2 .mSlide{margin-top:2rem;}
	#betterSleep2 .mSlide .slick-prev{width:30px;height:30px;}
	#betterSleep2 .mSlide .slick-prev::before{width:30px;height:30px;}
	#betterSleep2 .mSlide .slick-next{width:30px;height:30px;}
	#betterSleep2 .mSlide .slick-next::before{width:30px;height:30px;}

	#betterSleep2 .listBtn{margin:0;}
	#betterSleep2 .bSlide + .listBtn{margin-top:2rem;}
	#betterSleep2 .listBtn .btnBox{width:100%;padding:0;}
	#betterSleep2 .listBtn .btnBox + .btnBox{margin-top:0.75rem;}
	#betterSleep2 .listBtn .btnBox a{padding:1rem;}
	#betterSleep2 .listBtn .btnBox .imgBox{width:80px;}
	#betterSleep2 .listBtn .btnBox .txtBox{width:calc(100% - 80px);;}
	#betterSleep2 .pTxt{margin-top:0.5rem;line-height:20px;}
	#betterSleep2 .pTxt .ico{width:20px;height:20px;margin-right:0.5rem;}

	/*Table*/
	#betterSleep2 .tableBox.pc{display:none;}
	#betterSleep2 .tableBox.mo{display:block;}
	#betterSleep2 .tableBox table .tit2{font-size:0.875rem;}
	#betterSleep2 .tableBox td .img{width:150px;}

	/*POPUP*/
	#betterSleep2 .popup .inner{width:90%;}

}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1024px){
	/* .pub__breadcrumb{padding:0 1.875rem;}
	.pub__page-container__main > div > article > section:not(:first-child){padding:0 1rem;} */

	#betterSleep2 .tit1{font-size:2rem;line-height:2.5rem;}
	#betterSleep2 .tit2{font-size:1.25rem;line-height:1.5rem;}
	#betterSleep2 .tit3{font-size:0.875rem;}

	#betterSleep2 .btn.ty1 a{height:2.5rem;padding:0 3.5rem 0 0.625rem;}
	#betterSleep2 .btn.ty1 button{height:2.5rem;padding:0 3.5rem 0 0.625rem;}
	#betterSleep2 .btn.ty1.disabled button{height:2.5rem;padding:0 3.5rem 0 0.625rem;}
	#betterSleep2 .btn.ty1 .bTit{font-size:1rem;line-height:2.5rem;color:#fff;}
	#betterSleep2 .btn.ty1 .arrow{right:0.75rem;}
	#betterSleep2 .btn.ty1 a:hover .arrow{right:0.75rem;}
	#betterSleep2 .btn.ty1.disabled button .arrow{right:0.75rem;}
	#betterSleep2 .btn.ty1.last button .arrow{right:0.75rem;}
	#betterSleep2 .btn.seeResult button .arrow{right:0.75rem;}
	#betterSleep2 .btn.ty2 a{height:2.5rem;padding:0 1.375rem 0 2rem;}
	#betterSleep2 .btn.ty2 .bTit{font-size:1rem;line-height:2.5rem;}
	#betterSleep2 .btn.ty2 .arrow{left:0;}
	#betterSleep2 .btn.more{margin-top:3rem;text-align:center;border-top:1px solid #222;}
	#betterSleep2 .btn.more a{width:101%;margin:auto;text-align:center;}
	#betterSleep2 .btn.more .ico{display:block;position:absolute;top:-15px;left:50%;width:30px;height:30px;margin-left:-15px;}
	#betterSleep2 .btn.more .mTxt{display:block;padding-top:1.25rem;font-size:0.75rem;}
	#betterSleep2 .iBtn{top:5px;right:-20px;width:15px;height:15px;}
	#betterSleep2 .btn.last a{height:2.5rem;padding:0 0.625rem;}
	#betterSleep2 .btn.last .bTit{font-size:1rem;line-height:2.5rem;color:#fff;}

	/* top Contents */
	#betterSleep2 .topCont .visSection .txtBox{width:100%;padding:2rem;font-size:1rem;}
	#betterSleep2 .topCont .SleepingPosture .txtArea{width:100%;}
	#betterSleep2 .topCont .SleepingPosture .listCont > ul > li{width:32%;margin-left:2%;}
	#betterSleep2 .topCont .SleepingPosture .listCont .top .txtBox{padding:1rem;height:100px;}
	#betterSleep2 .topCont .SleepingPosture .listCont .top .txt{font-size:0.875rem;}
	#betterSleep2 .topCont .SleepingPosture .listCont .bottom .txt{font-size:0.875rem;}
	#betterSleep2 .topCont .SleepingPosture .listCont .top:hover .txtBox{background-color:#f8f6f2}

	/*TAB*/
	#betterSleep2 .tabContArea{margin-top:4rem;}
	#betterSleep2 .tabCont li{width:calc(100% / 3 - 8px)}
	#betterSleep2 .tabCont li a{height:40px;}
	#betterSleep2 .tabCont strong{font-size:1rem;line-height:40px;}

	#betterSleep2 .contents{margin:2rem 0;}

	/*Choice Generator*/
	#betterSleep2 .genCont .intro{height:750px}
	#betterSleep2 .genCont .tit2{margin-bottom:1rem;;}
	#betterSleep2 .genCont .intro .txtBox{padding:0 5% 0 7%;}
	#betterSleep2 .stepCont .titBox .sTit{font-size:1rem;}
	#betterSleep2 .stepCont .titBox .tit{font-size:1.75rem;}
	#betterSleep2 .genCont.mattress .intro .imgBox .img{box-shadow:30px -30px 0 0 rgba(176,123,110,1);}
	#betterSleep2 .genCont.pillow .intro .imgBox .img{box-shadow:30px -30px 0 0 rgba(103,101,123,1);}
	#betterSleep2 .genCont.duvet .intro .imgBox .img{box-shadow:30px -30px 0 0 rgba(137,153,168,1);}
	#betterSleep2 .stepList{height:750px;}
	#betterSleep2 .stepCont .wrapper{padding:3rem 2rem 2rem 4.5rem;}
	#betterSleep2 .stepCont .progBox{top:6rem;left:2rem;}
	#betterSleep2 .stepCont .progBox li + li{padding-top:20px;}
	#betterSleep2 .stepCont .progBox li::before{left:9px;width:1px;height:20px;}
	#betterSleep2 .stepCont .progBox li .num{width:20px;height:20px;border-radius:10px;font-size:0.875rem;line-height:19px;}
	#betterSleep2 .stepCont .progBox li .compCheck{width:70px;height:70px;}
	#betterSleep2 .stepCont .selectBox{margin-top:1.75rem;}
	#betterSleep2 .stepCont .selectBox.col3 li{width:30%;max-width:180px;}
	#betterSleep2 .stepCont .selectBox.col4 ul{padding:0 22%;}
	#betterSleep2 .stepCont .selectBox.col4 li{width:45%;max-width:160px;margin-bottom:1rem;}
	#betterSleep2 .stepCont .selectBox.col5 li{width:30%;max-width:150px;margin-bottom:1rem;}
	#betterSleep2 .stepCont .selectBox .tit{font-size:1rem;}
	#betterSleep2 .stepCont .stepList .btnBox{left:8rem;bottom:2rem;width:calc(100% -10rem);padding-top:2rem;}
	#betterSleep2 .stepCont .prodList > div{width:100%;overflow-y:hidden;overflow-x:auto;-webkit-overflow-scrolling:touch;margin:0;}
	#betterSleep2 .range-revamp-product-compact{width:190px;max-width:190px;flex-basis:190px;flex: 0 0 190px;}

	#betterSleep2 .infoArea{;margin-top:2.5rem;}
	#betterSleep2 .infoCont .cont{width:100%;}
	#betterSleep2 .infoCont .inner + .inner{margin-top:2rem;}
	#betterSleep2 .infoCont .inner .cont + .cont{padding-left:0;margin-top:2rem;}
	#betterSleep2 .infoCont .txt{font-size:0.875rem;}
	#betterSleep2 .infoCont .tip{margin-top:3rem;padding:2rem;}
	#betterSleep2 .infoCont .tip .txt{font-size:0.875rem;}
	#betterSleep2 .infoCont .hidden{margin-top:3rem;}
	#betterSleep2 .hidden .note{font-size:0.875rem;}
	#betterSleep2 .infoCont .cont .txtBox > .ico{width:100px;height:100px;}
	#betterSleep2 .listBox ul li{padding-left:0.75rem;font-size:0.875rem;}
	#betterSleep2 .listBox ul li::before{width:4px;height:4px;top:8px;}

	#betterSleep2 .listBtn .btnBox a{padding:1rem;}
	#betterSleep2 .listBtn .btnBox .imgBox{width:60px;}
	#betterSleep2 .listBtn .btnBox .txtBox{width:calc(100% - 60px);height:100px;padding:0.25rem 0.25rem 0.25rem 0.5rem;}
	#betterSleep2 .listBtn .btnBox .txtBox .tit2{font-size:1rem;}
	#betterSleep2 .pTxt{margin-top:1rem;}
	#betterSleep2 .pTxt .ico{width:20px;height:20px;margin-right:0.5rem;}

	#betterSleep2 .bSlide{margin-top:2rem;}
	#betterSleep2 .bSlide .imgBox{width:40%;}
	#betterSleep2 .bSlide .imgBox img{display:none;}
	#betterSleep2 .bSlide .foam .imgBox{background:url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/img_b_slide_mattress_01.png') right bottom no-repeat;background-size:cover;}
	#betterSleep2 .bSlide .spring .imgBox{background:url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/img_b_slide_mattress_02.png') right bottom no-repeat;background-size:cover;}
	#betterSleep2 .bSlide .bonell .imgBox{background:url('https://img.ikeajpapi.com/campaigns/2020/202010/better_sleep_pt2/common/img_b_slide_mattress_03.png') right bottom no-repeat;background-size:cover;}
	#betterSleep2 .bSlide .txtBox{width:60%;height:285px;padding:1.5rem 2rem 4rem;}
	#betterSleep2 .bSlide .txtBox .tit{font-size:1.75rem;}
	#betterSleep2 .bSlide .txtBox .txt{font-size:0.875rem;margin-top:0.5rem;}
	#betterSleep2 .bSlide .slick-dots li{width:50px;}
	#betterSleep2 .bSlide .slick-dots li button{width:40px;}
	#betterSleep2 .bSlide .slick-dots li button::before{width:40px;height:3px;}
	#betterSleep2 .mSlide{margin-top:2rem;max-width:75%;margin:2rem auto 0;}
	#betterSleep2 .mSlide .slick-prev{width:30px;height:30px;}
	#betterSleep2 .mSlide .slick-prev::before{width:30px;height:30px;}
	#betterSleep2 .mSlide .slick-next{width:30px;height:30px;}
	#betterSleep2 .mSlide .slick-next::before{width:30px;height:30px;}
	#betterSleep2 .bSlide .slick-dots{bottom:10%;padding-left:2rem;}

	/*Table*/
	#betterSleep2 .tableBox.pc{display:none;}
	#betterSleep2 .tableBox.mo{display:block;}
	#betterSleep2 .tableBox table .tit2{font-size:0.875rem;}
	#betterSleep2 .tableBox td .img{width:150px;}

}
