/* faq */
.category-wrap {
	@include Flex-between-center;
    flex-direction: row-reverse;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}
.category-list {
    ul {
        display: flex;
        align-items: center;
        li {
            margin-right: 30px;
            cursor: pointer;
            font-size: 25px;
            &.active {
                color: blue;
            }
        }
    }
}


.category-search {
    position: relative;
    width: 367px;
    border: 1px solid $borderColor;
    border-radius: 10px;
    overflow: hidden;
    input {
        padding: 0 70px 0 20px;
        width: 100%;
        height: 60px;
        font-size: 25px;
        outline: none;
    }
    .btn-search {
        @include Hide_txt;
        cursor: pointer;
        width: 60px;
        height: 60px;
        position: absolute;
        top:0;
        right: 0;
        background: url('https://uploads-ssl.webflow.com/612c58763320b7f33dc4307b/612f171fea231a5e6b3f942f_ico-search.png') no-repeat center center;
    }
}



.faq-item {
    border-bottom:1px solid $borderColor2;
    display: none;
    .faq-top {
        cursor: pointer;
        padding: 50px;
        display: flex;
        align-items: center;
        strong {
            font-size: 25px;
            @include Bold;
            line-height: 40px;
            flex:none;
        }
        .faq-qa {
            font-size: 25px;
            margin-left: 25px;
            line-height: 35px;
        }
        &::after {
            display: block;
            content: '';
            width: 32px;
            height: 18px;
            background: url('https://uploads-ssl.webflow.com/612c58763320b7f33dc4307b/612f1719859b97c22cf6e605_ico-arrow.png') no-repeat center center;
            margin-left: auto;
            flex:none;
            transform: rotate(0deg);
            transition: transform .5s;
        }
        &.active {
            background-color: $bgColor01;
            &::after {
                transform: rotate(180deg);
            }
        }
    }
    .faq-cont {
        padding: 0px 50px 50px;
        display: none;
        .faq-aw {
            font-size: 25px;
            line-height: 35px;
        }
        &.active {
            background-color: $bgColor01;
            display: block;
        }
    }

    &.sort-active{
        display: block;
    }
    &.no-serach {
        display: none;
    }
    &.no-result {
        display: none;
        font-size: 25px;
        line-height: 40px;
        text-align: center;
        padding: 50px;
    }
}

.MsoNormalTable {
    th {
        font-size: 16px;
        line-height: 21px;
        border:1px solid #000;
    }
    td {
        padding: 20px;
        font-size: 16px;
        line-height: 21px;
        border:1px solid #000;
        p {
            font-size: 16px;
            line-height: 21px;
            + p {
                margin-top: 20px;
            }
        }
    }
}
.tablist.w--current > div {
    color: #fff !important;
}


@include tab {
    html {
        overflow-x: hidden;
    }
    .category-wrap {
        padding: 0 0px 15px;
        display: block;
    }
    .category-list {
        margin-top: 37px;
        ul {
            @include Flex-around-center;
            li {
                margin: 0;
                font-size: 16px;
            }
        }
    }
    .category-search {
        width: 100%;
        input {
            padding: 0 33px 0 10px;
            font-size: 16px;
            height: 33px;
        }
        .btn-search {
            width: 33px;
            height: 33px;
            background-size: 50%;
        }
    }
    .faq-item {
        .faq-top {
            padding: 25px 10px;
            strong {
                font-size: 16px;
                line-height: 21px;
            }
            .faq-qa {
                font-size: 16px;
                margin-left: 12px;
                line-height: 21px;
            }
            &::after {
                background-size: 16px;
                width: 16px;
                height: 9px;
            }

        }
        .faq-cont {
            padding: 0px 10px 25px;
            .faq-aw {
                font-size: 16px;
                line-height: 21px;
            }
        }
        &.no-result {
            font-size: 16px;
            line-height: 21px;
            padding: 25px 10px;
        }
    }
    .MsoNormalTable {
        th {
            font-size: 16px;
            line-height: 21px;
            color: #000;
        }
        td {
            padding: 10px;
            font-size: 16px;
            line-height: 21px;
            color: #000;
            p {
                font-size: 16px;
                line-height: 21px;
                color: #000;
                + p {
                    margin-top: 10px;
                }
            }
        }
    }

}

@include mob {
    .category-list {
        ul {
            li {
                font-size: 13px;
            }
        }
    }
    .category-search {
        input {
            font-size: 13px;
        }
    }
    .faq-item {
        .faq-top {
            strong {
                font-size: 13px;
                line-height: 18px;
            }
            .faq-qa {
                font-size: 13px;
                line-height: 18px;
            }

        }
        .faq-cont {
            .faq-aw {
                font-size: 13px;
                line-height: 18px;
            }
        }
        &.no-result {
            font-size: 13px;
            line-height: 18px;
        }
    }
    .MsoNormalTable {
        th {
            font-size: 13px;
            line-height: 18px;
        }
        td {
            padding: 10px;
            font-size: 13px;
            line-height: 18px;
            p {
                font-size: 13px;
                line-height: 18px;
                + p {
                    margin-top: 10px;
                }
            }
        }
    }

}
